:root {
  --_ui5-v2-2-0_side_navigation_shadow_color1: color-mix(
    in srgb,
    var(--sapContent_ShadowColor) 16%,
    transparent
  );
  --_ui5-v2-2-0_side_navigation_shadow_color2: color-mix(
    in srgb,
    var(--sapContent_ShadowColor) 16%,
    transparent
  );
  --_ui5-v2-2-0_side_navigation_box_shadow: 0 0 0.125rem 0
      var(--_ui5-v2-2-0_side_navigation_shadow_color1),
    0 0.5rem 1rem 0 var(--_ui5-v2-2-0_side_navigation_shadow_color2);
}

.card_title {
  /* color:red; */
}
.card {
  margin: 1rem;
  width: 95%;
  height: 7rem;
  padding: 1rem;
  border-radius: 0.5rem;
  list-style-type: none;
  box-shadow: var(--_ui5-v2-2-0_side_navigation_box_shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}
